$navbar-height: 80px;
$navbar-default-bg: #1abc9c;
$navbar-border-radius: 0px;
$navbar-default-brand-color: #fff;
$navbar-default-border: #fff;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-hover-color: #fff;
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
$font-family-sans-serif: 'Lato', sans-serif;
$brand-primary: #1abc9c;
$navbar-default-border: #1abc9c;

@import 'bootstrap';

body {
  // padding-top: 70px;
  // padding-bottom: 30px;
}

.background{
  background-color: #AACFD7;
}
.navbar{
  margin-bottom: 30px;
  font-weight: 300;
}

#job-progress {
  color: white;
}

#activity-list{
  li{
    font-size: 14px;
    i{
      margin: 10px;
    }
  }
}

.center {
  text-align: center;
}

.linktocat {
  position: relative;
  bottom: 50px;
}

.open-source {
  padding-bottom: 50px;
}

.info-item{
  .info-title{
    margin-top: 20px;
    i{
      margin-right: 5px;
    }
  }
  span{
    display: block;
    margin: 10px;
    @media (max-width: 991px) {
      margin: 0 0 0 15px;
      display: inline-block;
      width: 40%;
    }
  }
}

.fileinput-button{
  margin-right: 10px;
    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }

}

.submit-container{
  margin: 30px 0 15px 0;
}

.gem-name{
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 9px 0 9px 0;
  width: 100%;
  background-color: #36a9e1;
}

.no-padding{
  padding: 0;
}

.panel-padding{
  padding: 15px;
}

.full-width-button{
  width: 100%;
}

.form-error{
  padding: 0;
  margin: 0;
  color: #ff5454;
}

.form-explanation {
  margin: 0 0 30px 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  color: #ff5454;
 }

div.field_with_errors {
  display: inline;
  input{
    border-color: #ff5454;
  }
}

.alert{
  margin: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-weight: 300;
  margin-left: 0px;
  padding: 30px 15px 10px 15px;
}

.navbar{
  li{
    padding-right: 30px;
  }
}

.index-title{
  margin-bottom: 20px;
}

.logo{
  margin: 10px;
}

#main-slider ul li{
  margin-top: 130px;
}


#hero .logo {
margin-bottom: 30px;
}

.info-graphic {
width: 80px;
height: 68px;
padding: 0;
text-align: center;
margin-right: 10px;
float: left;
overflow: hidden;
  img{
    margin-top: 15px;
  }
}

.primary{
  background-color: #1abc9c; 
}

.users{
  background-color: #f9c138;
}

.files{
  background-color: #bdea74;
}

.activity{
  background-color: #67c2ef;
}

.sub-title{
  h2{
    font-size: 2em;

  }
  p{
    margin-bottom: 15px;
  }
}

.centered{
  text-align:center;
}

.no-gems-padding{
  padding: 80px 15px 80px 15px;
}

.has-gems-padding{
  padding: 0px 15px 15px 15px;
}

.no-gem-close{
  margin-right: 15px;
  margin-top: 10px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #2c3e50;
  font-color: white;
}

.body-container{
  min-height: 700px;
}

.footer-text{
  margin-top: 20px;
}

.arrow{
  margin-right: 15px;
}

.gem-link{
  font-size: 1.2em;
  text-decoration: none;
}